.learn__list {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 15px;
  width: 100%;
  scrollbar-width: none;
}

@media (min-width: 768px) {
  .learn__list {
    flex-wrap: wrap;
    gap: 10px;
  }
}

@media (min-width: 1200px) {
  .learn__list {
    gap: 20px;
  }
}

.learn__list::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.learn__item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 325px;
}

.learn__item .learn__description {
  width: 90%;
}

@media (min-width: 768px) {
  .learn__item .learn__description {
    width: unset;
    gap: 25px;
  }
}

@media (min-width: 1200px) {
  .learn__item .learn__description {
    width: 81%;
  }
}

@media (min-width: 768px) {
  .learn__item {
    min-width: unset;
    gap: 10px;
  }

  .learn__item:nth-child(-n + 2) {
    flex-basis: calc(50% - 10px);
  }

  .learn__item:nth-child(3) {
    flex-basis: calc(55% - 10px);
  }

  .learn__item:nth-child(4) {
    flex-basis: calc(45% - 10px);
  }

  .learn__item:nth-child(n + 5) {
    flex-basis: calc(33.33% - 10px);
  }

  .learn__item:nth-child(3) {
    flex-direction: row;
  }

  .learn__item:nth-child(3) .learn__description {
    width: 40%;
  }

  .learn__item:nth-child(n + 3) {
    margin-top: 31px;
  }

  .learn__item:nth-child(6) {
    margin-top: 62px;
  }

  .learn__item:nth-child(2n + 5) {
    margin-top: 62px;
  }
}

@media (min-width: 1200px) {
  .learn__item {
    min-width: unset;
    gap: 10px;
  }

  .learn__item:nth-child(-n + 2) {
    flex-basis: calc(50% - 20px);
  }

  .learn__item:nth-child(3) {
    flex-basis: calc(55% - 20px);
  }

  .learn__item:nth-child(4) {
    flex-basis: calc(45% - 20px);
  }

  .learn__item:nth-child(n + 5) {
    flex-basis: calc(33.33% - 20px);
  }

  .learn__item:nth-child(3) {
    flex-direction: row;
  }

  .learn__item:nth-child(3) .learn__description {
    width: 30%;
  }

  .learn__item:nth-child(n + 3) {
    margin-top: 50px;
  }

  .learn__item:nth-child(6) {
    margin-top: 89px;
  }

  .learn__item:nth-child(2n + 5) {
    margin-top: 89px;
  }
}

@media (min-width: 1920px) {
  .learn__item {
    min-width: unset;
    gap: 10px;
  }

  .learn__item:nth-child(-n + 2) {
    flex-basis: calc(50% - 25px);
  }

  .learn__item:nth-child(3) {
    flex-basis: calc(55% - 25px);
  }

  .learn__item:nth-child(4) {
    flex-basis: calc(45% - 25px);
  }

  .learn__item:nth-child(n + 5) {
    flex-basis: calc(33.33% - 25px);
  }

  .learn__item:nth-child(3) {
    flex-direction: row;
  }

  .learn__item:nth-child(3) .learn__description {
    width: 40%;
  }

  .learn__item:nth-child(n + 3) {
    margin-top: 80px;
  }

  .learn__item:nth-child(2n + 5) {
    margin-top: 145px;
  }
}
