.about__title {
  position: relative;
  z-index: 2;
  top: 10px;
  @media (min-width: 768px) {
    top: 15px;
  }
  @media (min-width: 1200px) {
    top: 23px;
  }
  @media (min-width: 1920px) {
    top: 50px;
  }
}
.about__block {
  height: 538px;
  max-width: 1920px;
  display: flex;
  justify-content: flex-end;
  &:first-child {
    background: center / cover no-repeat url("/src/images/about/1.webp");
    .about__text {
      gap: 10px;
    }
    .about__text-right {
      text-align: justify;
    }
    @media (min-width: 768px) {
      .about__text {
        gap: 57px;
      }
    }
    @media (min-width: 1920px) {
      .about__text-right {
        text-align: end;
      }
    }
  }
  &:nth-child(2) {
    background: 84% / cover no-repeat url("/src/images/about/2.webp");

    .about__text {
      flex-direction: column-reverse;
      gap: 20px;
    }
    .about__text-right {
      text-align: end;
      align-items: flex-end;
      display: flex;
      flex-direction: column;
    }
    @media (min-width: 768px) {
      background: center / cover no-repeat url("/src/images/about/2.webp");
      .about__text {
        flex-direction: row;
        gap: 0;
      }
      .about__text-right {
        text-align: unset;
        padding-right: 59px;
      }
    }
    @media (min-width: 1200px) {
      .about__text-right {
        padding-right: 0;
      }
    }
    .about__text-left {
      text-align: justify;
      width: fit-content;
      @media (min-width: 768px) {
        width: 27%;
        padding: 14px 13px;
      }

      @media (min-width: 1200px) {
        padding: 29px 7px;
        width: 26%;
      }
    }
  }
  &:nth-child(3) {
    background: center / cover no-repeat url("/src/images/about/3.webp");
    .container {
      flex-direction: column-reverse;
      justify-content: flex-start;
      gap: 20px;
    }
    .about__text {
      text-align: right;
      gap: 6px;
    }
    .about__text-right {
      text-align: justify;
    }

    .about__top {
      width: 100%;
      text-align: justify;
      padding-bottom: 30px;
      p {
        width: 100%;
      }
    }
    @media (min-width: 768px) {
      .container {
        flex-direction: column;
        justify-content: space-between;
        gap: 0;
      }
      .about__text {
        gap: 0;
        text-align: unset;
        align-self: flex-start;
        padding-left: 20px;
      }
      .text__small {
        padding: 0 5px;
      }
      .about__text-right {
        text-align: unset;
      }
      .about__top {
        align-self: flex-end;
        padding: 40px 0 0 0;
        margin-right: 31px;
        width: 20%;
      }
    }

    @media (min-width: 1200px) {
      .about__text {
        padding-left: 0;
      }
      .about__top {
        width: 22%;
        margin-right: 122px;
        padding: 67px 0;
      }
    }
  }
  @media (min-width: 768px) {
    height: 364px;
  }
  @media (min-width: 1200px) {
    height: 593px;
  }
  @media (min-width: 1920px) {
    height: 949px;
  }
}
.about__text {
  display: flex;

  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    align-self: end;
  }
}
.about__text-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  @media (min-width: 768px) {
    width: 67%;
    justify-content: flex-start;
    padding: 0 14px;
    width: fit-content;
  }
  @media (min-width: 1200px) {
    padding: 0;
  }
}

.about__text-desc {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-bottom: 30px;

  line-height: 1;
  @media (min-width: 768px) {
    width: 21%;
  }

  @media (min-width: 1200px) {
    width: 24%;
    line-height: 1.1;
    padding-bottom: 25px;
  }

  @media (min-width: 1920px) {
    padding-bottom: 50px;
  }
}
.text__big {
  font-size: 64px;
  letter-spacing: -1.9px;
  width: fit-content;

  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.9;
  align-self: flex-end;

  @media (min-width: 768px) {
    font-size: 134px;
    letter-spacing: -4px;
    align-self: unset;
  }
  @media (min-width: 1200px) {
    font-size: 218px;
    letter-spacing: -7px;
  }

  @media (min-width: 1920px) {
    font-size: 350px;
    letter-spacing: -11px;
    align-self: unset;
  }
}

.text__small-list {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  flex-direction: column-reverse;
  align-items: flex-end;
  @media (min-width: 768px) {
    flex-direction: column;
    align-items: unset;
    flex-direction: row;

    gap: 30px;
    width: 76%;
    padding: 0 5px;
  }

  @media (min-width: 1200px) {
    width: 76%;
  }
  @media (min-width: 1920px) {
    padding: 0 12px;
    width: 66%;
    gap: 0;
  }
}

.about__top {
  display: flex;
  justify-content: flex-end;
  line-height: 1;
  @media (min-width: 768px) {
    width: 87%;
    padding: 98px 0;
    p {
      width: 24%;
    }
  }
}

.about__top-button {
  display: flex;
  justify-content: flex-end;
  padding: 37px 0;
  @media (min-width: 768px) {
    padding: 37px 59px;
  }

  @media (min-width: 1200px) {
    padding: 68px 0;
  }
  @media (min-width: 1920px) {
    padding: 100px 0;
  }

  .round__btn {
    @media (min-width: 768px) {
      width: 39px;
      height: 39px;
      svg {
        width: 13px;
        height: 13px;
      }
    }
    @media (min-width: 1200px) {
      width: 63px;
      height: 63px;

      svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.section.about {
  gap: 0;
  padding: 94px 0;
  @media (min-width: 768px) {
    padding: 83px 0;
  }
  @media (min-width: 1200px) {
    padding: 90px 0;
  }
}
