.goal__text {
  font-size: 32px;
  letter-spacing: -0.9px;
  font-weight: 700;
  line-height: 1;
  display: inline-block;
  @media (min-width: 768px) {
    font-size: 55px;
    line-height: 48px;
    letter-spacing: -1.65px;
  }
  @media (min-width: 1200px) {
    font-size: 80px;
    line-height: 0.9;
    letter-spacing: -2.4px;
  }
  @media (min-width: 1920px) {
    font-size: 128px;
    line-height: 112px;
    letter-spacing: -3.8px;
  }
}

.goal__block {
  display: flex;
  flex-direction: column;
  gap: 51px;
  @media (min-width: 768px) {
    gap: 45px;
  }
  @media (min-width: 1200px) {
    gap: 65px;
  }
  @media (min-width: 1920px) {
    gap: 105px;
  }
}

.goal__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  letter-spacing: -0.6px;
  @media (min-width: 1200px) {
    font-size: 30px;
    letter-spacing: -0.9px;
  }
  @media (min-width: 1920px) {
    font-size: 48px;
    letter-spacing: -1.4px;
  }
}
.goal__quotes-right {
  position: relative;
  bottom: 19px;
  @media (min-width: 1200px) {
    bottom: 48px;
  }
  @media (min-width: 1920px) {
    bottom: 77px;
  }
}

.goal__quotes-left {
  display: inline-block;
}

.goal__author {
  align-self: flex-end;
}
