.hero {
  display: flex;
  min-height: 615px;
  position: relative;
  background: center/ cover no-repeat url("/src/images/hero/hero-bg.webp");

  &:before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.2);
  }
  @media (min-width: 768px) {
    margin-top: 20px;
    background: none;
    min-height: unset;
    &:before {
      display: none;
    }
    .container {
      flex-direction: row !important;
    }
  }
  @media (min-width: 1200px) {
    margin-top: 30px;
  }
  @media (min-width: 1920px) {
    margin-top: 50px;
  }

  .hero__title {
    position: relative;
    display: flex;
    gap: 5px;
    h1 {
      font-size: 64px;
      font-weight: 400;
      white-space: nowrap;
      letter-spacing: -1.9px;
    }

    @media (min-width: 768px) {
      gap: 8px;
      padding-top: 13px;
      margin-bottom: -5px;
      h1 {
        font-size: 85px;
        gap: 25px;
        line-height: 52px;
        letter-spacing: -2.55px;
      }
    }

    @media (min-width: 1200px) {
      gap: 15px;
      padding-top: 13px;
      margin-bottom: -5px;
      h1 {
        font-size: 125px;
        gap: 25px;
        line-height: 52px;
        letter-spacing: -3.75px;
      }
    }

    @media (min-width: 1920px) {
      margin-bottom: 80px;
      gap: 12px;
      padding: 0 5px;
      margin-top: 115px;
      h1 {
        font-size: 200px;
        gap: 25px;
        line-height: 124px;
      }
    }

    span {
      font-size: 64px;

      @media (min-width: 768px) {
        font-size: 85px;
      }
      @media (min-width: 1200px) {
        font-size: 125px;
      }
      @media (min-width: 1920px) {
        font-size: 200px;
        letter-spacing: -6px;
      }
    }
  }

  .hero__quotes-left {
    position: relative;
    top: 7px;
    @media (min-width: 768px) {
      top: -12px;
    }
    @media (min-width: 1200px) {
      top: -30px;
    }
  }
  .hero__quotes-right {
    position: relative;
    top: -39px;
    left: 4px;

    @media (min-width: 768px) {
      top: -74px;
    }
    @media (min-width: 1200px) {
      top: -121px;
    }
    @media (min-width: 1920px) {
      top: -170px;
      left: 0;
    }
  }

  .hero__subtitle {
    font-weight: 700;
    font-size: 32px;
    line-height: 1;

    @media (min-width: 768px) {
      font-size: 20px;
      letter-spacing: -0.6px;
    }

    @media (min-width: 1200px) {
      font-size: 30px;
      letter-spacing: -0.9px;
    }
    @media (min-width: 1920px) {
      font-size: 48px;
      letter-spacing: -1.4px;
      margin-bottom: 25px;
    }
  }

  .hero__text {
    font-size: 12px;
    font-weight: 500;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    gap: 17px;
    margin-top: 5px;

    @media (min-width: 768px) {
      width: 75%;
      margin-top: -28px;
      gap: 8px;
    }

    @media (min-width: 1200px) {
      margin-top: -22px;
    }

    @media (min-width: 1920px) {
      font-size: 18px;
      margin-bottom: 75px;
      gap: 15px;
      margin-top: 0;
    }
  }

  .hero__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    gap: 8px;

    @media (min-width: 768px) {
      width: 50%;
      padding-top: 32px;
      justify-content: space-between;
      gap: 6px;
    }
    @media (min-width: 1200px) {
      padding-top: 65px;
      justify-content: flex-start;
      gap: 45px;
    }
    @media (min-width: 1920px) {
      padding-top: 0;
      gap: 10px;
      justify-content: unset;
    }
  }
  .hero__right {
    display: none;
    @media (min-width: 768px) {
      display: block;
      width: 50%;
    }
  }

  .hero__button-svg {
    height: 9px;
  }

  .hero__button-container {
    @media (min-width: 768px) {
      padding-bottom: 45px;
    }
    @media (min-width: 1200px) {
      margin-top: 16px;
    }
    @media (min-width: 1920px) {
      padding-bottom: 0;
    }
  }
}
