.section.how {
  gap: 15px;
  @media (min-width: 768px) {
    gap: 33px;
  }
  @media (min-width: 1200px) {
    gap: 50px;
  }
}
.how {
  .how__top {
    display: flex;
    gap: 48px;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
      gap: 30px;
    }
    @media (min-width: 1200px) {
      gap: 100px;
    }
  }
  .how__title {
    @media (min-width: 768px) {
      width: 51%;
      letter-spacing: -2.95px;
    }
    @media (min-width: 1200px) {
      width: 45%;
    }
  }

  .how__block {
    display: flex;
    justify-content: space-between;
    gap: 12px;
    @media (min-width: 768px) {
      gap: 58px;
      width: 50%;
    }
    @media (min-width: 1200px) {
      width: 50%;
      gap: 60px;
    }
    @media (min-width: 1920px) {
      width: 49%;
      gap: 60px;
    }
  }
  .how__list {
    gap: 15px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    @media (min-width: 768px) {
      width: 55%;
      gap: 10px;

      &:first-child {
        width: 46%;
      }
    }
    @media (min-width: 1200px) {
      gap: 15px;
      &:first-child {
        width: 100%;
      }
      &:nth-child(2) {
        width: 100%;
      }
    }

    @media (min-width: 1920px) {
      &:nth-child(2) {
        padding-left: 75px;
      }
    }
  }

  .how__item {
    flex-basis: 45%;
    height: fit-content;
  }

  .how__bottom {
    display: flex;
    gap: 20px;
    align-items: flex-start;

    @media (min-width: 768px) {
      gap: 10px;
    }
  }

  .how__img-container {
    width: 32%;
    @media (min-width: 768px) {
      width: 30%;
    }
    &:first-child {
      width: 100%;
      @media (min-width: 768px) {
        width: 71%;
      }
      @media (min-width: 1200px) {
        width: 67%;
      }
    }
    &:last-child {
      display: none;
      @media (min-width: 768px) {
        display: block;
      }
    }
  }
}
