section.reviews {
  @media (min-width: 768px) {
    gap: 85px !important;
  }
  @media (min-width: 1200px) {
    gap: 125px !important;
  }
  @media (min-width: 1920px) {
    gap: 200px !important;
  }
}

.reviews__list {
  display: flex;
  justify-content: space-between;
  overflow-x: auto;
  overflow-y: hidden;
  gap: 27px;
  width: 100%;
  @media (min-width: 1920px) {
    gap: 50px;
  }

  &::-webkit-scrollbar {
    display: none;
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.review__user {
  display: flex;
  gap: 10px;
  align-items: flex-end;

  @media (min-width: 1200px) {
    gap: 12px;
  }
  @media (min-width: 1920px) {
    gap: 20px;
  }
}

.reviews__desc {
  display: flex;
  gap: 8px;
  flex-direction: column;

  @media (min-width: 1200px) {
    gap: 13px;
  }

  @media (min-width: 1920px) {
    gap: 20px;
  }
}

.reviews__item {
  display: flex;
  flex-direction: column;
  gap: 5px;
  min-width: 300px;
  justify-content: space-between;
  @media (min-width: 768px) {
    min-width: unset;
    width: 29.5%;
    gap: 20px;
  }

  @media (min-width: 1200px) {
    gap: 30px;
  }
  @media (min-width: 1920px) {
    gap: 90px;
  }
}

.review__title {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: -0.4px;
  white-space: nowrap;

  @media (min-width: 768px) {
    font-size: 9px;
    width: 65%;
    white-space: break-spaces;
  }
  @media (min-width: 1200px) {
    letter-spacing: -0.3px;
    font-size: 12.5px;
  }
  @media (min-width: 1920px) {
    font-size: 20px;
  }
}

.review__user-name {
  font-weight: 500;
  font-size: 12px;
  @media (min-width: 768px) {
    font-size: 8px;
  }
  @media (min-width: 1200px) {
    font-size: 10px;
  }
  @media (min-width: 1920px) {
    font-size: 18px;
  }
}

.review__photo {
  max-width: 44px;
  @media (min-width: 768px) {
    max-width: 27px;
  }
  @media (min-width: 1200px) {
    max-width: 40px;
  }
  @media (min-width: 1920px) {
    max-width: 64px;
  }
}

.review__text {
  line-height: 15.5px;
  @media (min-width: 768px) {
    line-height: 1.2;
  }
  @media (min-width: 1920px) {
    line-height: 18.9px;
  }
}

.review__user-occupation {
  color: #656565;
}
