.subscription {
  gap: 0 !important;
  ::placeholder {
    color: #fff;
    opacity: 1;
  }
  .rectangle__button {
    margin-top: 0;
    @media (min-width: 768px) {
      width: 32%;
    }
  }

  .subscription__title {
    z-index: 1;
  }

  .subscription__block {
    display: flex;

    gap: 20px;
    flex-direction: column;
    @media (min-width: 768px) {
      flex-direction: row;
      gap: 10px;
      position: relative;
      top: -35px;
    }
    @media (min-width: 1200px) {
      gap: 15px;
    }
    @media (min-width: 1920px) {
      gap: 30px;
    }
  }

  .subscription__left {
    padding: 48px 0px 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;

    @media (min-width: 768px) {
      width: 50%;
      gap: 43px;
      padding: 55px 0px 0px;
    }
    @media (min-width: 1200px) {
      padding: 65px 0px 0px;
      gap: 58px;
    }

    @media (min-width: 1920px) {
      width: 50%;
      gap: 100px;

      padding: 85px 0px 0px;
    }
  }

  .subscription__right {
    display: none;
    @media (min-width: 768px) {
      display: block;
    }

    @media (min-width: 768px) {
      width: 50%;
    }
  }

  .subscription__mobile-img {
    @media (min-width: 768px) {
      display: none;
    }
  }

  .subscription__input-block {
    display: flex;
    gap: 5px;
    justify-content: space-between;
    @media (min-width: 768px) {
      gap: 17px;
    }
    @media (min-width: 1920px) {
      gap: 40px;
    }
  }

  .subscription__input {
    padding: 0 15px;
    width: 60%;
    background: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-left: none;
    border-right: none;
    outline: none;
    color: #fff;

    font-weight: 500;
    font-size: 14px;
    &:focus-visible {
      outline: none;
    }
    &:focus-within {
      outline: none;
    }
    &:active {
      outline: none;
    }
    @media (min-width: 768px) {
      width: 68%;
      font-size: 9px;
      padding: 0 25px;
    }

    @media (min-width: 1200px) {
      font-size: 12px;
    }

    @media (min-width: 1920px) {
      font-size: 18px;
      width: 63%;
      padding: 0 45px;
    }
  }
  .subscription__button {
    width: 32%;
    @media (min-width: 768px) {
      font-size: 9px;
    }
    @media (min-width: 1200px) {
      font-size: 13px;
    }
  }

  .subscription__text {
    p {
      letter-spacing: -0.6px;
    }
    @media (min-width: 768px) {
      p {
        width: 60%;
      }
    }
  }
}
